:root {
  --teal: #35b7b4;
  --purple: #6f5bd9;
  --text: #1e1e1e;
}

/* RESET */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter", system-ui, sans-serif;
}

body {
  background: #03aa96;
  color: white;
}
body.purple-bg {
  background-color: #b490fe /* overrides default only on this page */
}


/* HEADER */
header {
  position: fixed;
  top: 0;
  width: 100%;
  background: #03aa96;
  border-bottom: 4px solid var(--teal);
  z-index: 1000;
}

header.purple-bg {
  position: fixed;
  top: 0;
  width: 100%;
  background: #b490fe;
  border-bottom: 4px solid var(--teal);
  z-index: 1000;
}

.header-inner {
  max-width: 1400px;
  margin: auto;
  padding: 20px 30px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-weight: 800;
  font-size: 1.3rem;
  color: var(--white);
}

/* DESKTOP NAV */
nav {
  display: flex;
  gap: 30px;
}

nav a {
  text-decoration: none;
  font-weight: 600;
  color: var(--white);
}

nav a:hover {
  color: var(--purple);
}

/* HAMBURGER */
.hamburger {
  display: none;
  flex-direction: column;
  cursor: pointer;
}

.hamburger span {
  width: 28px;
  height: 3px;
  background: var(--purple);
  margin: 5px 0;
  border-radius: 10px;
}

/* MOBILE MENU */
.mobile-menu {
  position: fixed;
  inset: 0;
  background: linear-gradient(135deg, var(--purple), var(--teal));
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  transform: translateX(100%);
  transition: 0.3s ease;
}

.mobile-menu.open {
  transform: translateX(0);
}

.mobile-menu a {
  color: white;
  font-size: 1.6rem;
  font-weight: 700;
  text-decoration: none;
}

/* FULLSCREEN IMAGE SECTION */
.page {
  height: 100vh;
  padding-top: 90px; /* space for header */
}

.full-image {
  width: 100%;
  height: 100%;
}

.full-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  nav {
    display: none;
  }

  .hamburger {
    display: flex;
  }
}
